* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


.container  {
    display: flex;
    flex-direction: column;

    margin: 10px;
   
}

.back {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
    border-radius: 1rem;
    
}

.hexa-color {

    display: flex;
    justify-content: space-between;
}

p {

    font-size: 1rem;
    margin: 1rem;
}

h2 {
    font-size: 2rem;
}

